*{
  padding:0;
  margin:0;
  box-sizing:borer-box;
}
body{
  background-color:#e0e8ff
}
main{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
background-color:#fff;
margin:0 auto;
margin-top:50px;
padding-bottom:20px;
width:90vw;
font-family:Arial, sans-serif;
}
h1{
color:#DE3163;
background-color:#78ffd6;
padding:20px 10px;
border-radius:10px;
font-size:2rem;
width:100%;
text-align:center;
margin-bottom:10px;

}
.output{
  font-size:1.5rem;
  background-color:#1b1096;
  color:white;
  border-radius:10px;
  padding:10px;
}
.input_section{
  width:70%;

}
.input_slider{
  width:100%;
  padding:10px;
  margin-top:5px;
}